{% load static %}

<html>
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
        <h2>Add New User</h2>
        <form method="post">
            <!-- security to provide the access from the hackers -->
            {% csrf_token %}
             <!--show the data of the form as table or parameter -->
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'homepage' %}" class="btn btn-secondary">Cancel</a>
        </form>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>